$Thegray : #f0f0f0;
$DarkFont: #434A54;

$MountainMeadow: #1ACB83;

$schoolbord_groen : #7E8A84;
$rustig_teal: #43CABF;
$verfrissend_groen: #C6D900;
$buitenspel_groen: #00A659;
$gevoelig_roze: #FD7683;
$rustig_blauw: #5D96CD;
$spiritueel_paars: #686DBE;
$krachtig_paars: #52229C;
$intellectueel_geel: #F2C500;
$optimistisch_oranje: #F49302;
$tempo_rood: #EB3E49;
$krachtig_rood: #C40043;
$onderwijs_energiek_en_dynamisch_magenta: #E40075;
$zakelijk_betrouwbaar_en_duidelijk_cyaan: #00ACD5;
$onderwijs_en_zakelijk_ballpoint_blauw: #0074A7;

$cito_licht_grijs: #bcbcbc;