.feedback {
  border-left: 8px solid transparent;
  position: relative;
  left: -18px;
  padding-left: 10px;
  transition: border 1000ms;
}

div.field {
  margin-top: 10px;
}
textarea {
  width: 100%;
  color: #434a54;
  background-color: #fff;
  margin-top: 20px;
  border: 0;
  font-weight: 400;
}

.selected {
  font-weight: bold;
}
